<% layout("layout/layout") %>
<div class="h-10 d-inline-block text-center" style="width: 100%; background-color: rgba(0,0,255,.1)">
    <h1><%= category.name %> </h1>
</div>
<div class="container">
    <div class="row justify-content-center">
        <% for(let p of products){ %>
            <div class="col-sm-4 p-3">
                <a href="<%= p.url %>">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="<%= p.image.thumbnail %>" alt="Card image cap">
                        <div class="card-body">
                        <h5 class="card-title"><%= p.name %> </h5>
                    </div>
                  </div>
                </a>
            </div>
        <% } %> 
    </div> 
    <div class="d-flex justify-content-center flex-row mt-3">
        <a href="<%= category.url %>/update">
        <button class="btn btn-info text-light">Update</button>
        </a>
        <a href="<%= category.url %>/delete">
        <button class="btn btn-danger ms-3">Delete</button>
        </a>
    </div>
</div>